*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
   
}

header{
    color: whitesmoke;
    border-bottom: whitesmoke solid;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.paginaInicial{
    background-image: url("../img/bb.jpg ")  ;
    background-repeat: round;
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgb(194, 181, 181) solid;
    border-radius: 5px;
    width: 900px;
    height: 500px;
    color: cornsilk;
}

li{
    display: flex;
    align-items: center;
    justify-content: center;
    border:lightskyblue solid;
    border-radius: 10px;
    width: 80px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 20px;
    list-style: none;

}
li:hover{
    background-color: darkcyan;
}

a{
    color: linen;
    text-decoration: none;

    
}

@media only screen and (max-width: 970px){
    .paginaInicial{
        width: 350px;
        height: 203px;
    }
    header{
        text-align: center;
    }
.container{
    margin-top: 5px;
    align-items: flex-start;
    justify-content: center;
}
}