*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{  
     overflow-y: hidden;
    background: linear-gradient(-45deg, #ee7752, #aaecbe, #23a6d5, #734ff5);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.bg-montain{   
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc6022' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%2334aa4e' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23b3563d' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%2345885a' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%239b4c58' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23566665' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23824174' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23664471' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%236a378f' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%2377227c' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23512daa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size:cover ;
    width: 100vw;
    height: 100vh;
}
.central{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}
.sobre{
    min-height: 500px;
    max-width: 800px;
    border-radius:  10px ;
    color: white;
    padding: 10px;    
}
@media only screen and (max-width: 450px) {
    .sobre {
        min-height: 620px;
           }
  }
.glass{
    background: linear-gradient(
        to right bottom,
         rgba(255, 255, 255, 0.4),
         rgba(255, 255, 255, 0.2) );
    backdrop-filter: blur(1rem);
}


.logo{
    width: 150px;
    height: 150px;
    background: rgb(12, 166, 212);
    border-radius: 50%;
    text-align: center;
    margin-top: 15px;
    
    padding-top: 30px ;
    border: white 1px solid;
}

.logo h1{
    font-size: 4em;
   
}
.redes{
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(
     to right bottom,
     rgba(255, 255, 255, 0.4),
     rgba(255, 255, 255, 0.2) );
    border: white 1px solid;
    border-radius: 5px;
    padding: 5px;
    min-width: 200px;
    max-width: 300px;
    
    margin-top: 50px;
}


.dados{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    min-height: 435px;
    border-radius: 5px;
    
    
}

.contimagem{
    max-height: 200px;
   
  
   
}
.imagem{
   max-width: 100%;
   max-height: 100%;
  
  
   
}
.textpreto{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 1.1rem;   
    text-align: justify;
    
}
p {
    
    margin: 1px;
    text-indent: 2rem;
    
}
@media only screen and (max-width: 450px) {
    .textpreto {
        line-height: 1.2;
    
    }
    p{
        font-size: 0.8rem;
        margin-top: 5px;
        text-indent: 1rem;
    }
  }
a{
    color: black;
    text-decoration: none;
  }
  
  @media only screen and (max-width: 450px){
      li {
          font-size: 0.8rem;
      }
  }
.fundo{
    background-color: white;
    box-shadow: 0 0 1px black;
}
