*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
   
}


.container{
    background-image: url(../img/bg.jpg);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-flow: wrap row ;
    justify-content: center;
    
}
.paginaInicial{
    background-image: url(../img/bg2.jpg) ;
    background-size: cover;
    width: 300px;
    height: 500px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    border: lightblue solid 5px  ;
    border-radius: 5px;
    padding: 10px;
    
   
    color: rgb(17, 17, 17);
}
.sobre{
    background-color: whitesmoke;
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10px;
    margin-top: 10px;
    border-right: black solid 20px;
}

.umquarto{
    text-align: justify;
    padding-top: 10px;
    width: 310px;
    height: 230px;
   margin: 5px;
   
   margin-left: 10px;
    
}
.umquarto2{
    text-align: center;
    padding-top: 10px;
    width: 310px;
    height: 230px;
   margin: 5px;
}

.projetos{
    text-align: center;
}

ul{
    display: flex;
     flex-direction: row;
    justify-content: space-between;
   
    
   
}

li{
    display: flex;
   align-items: center;
    
    border-radius: 2px;
     margin-top: 40px;
    margin-bottom: 20px;
    list-style: none;

}
li:hover{
    color: rgb(63, 157, 235);
}

a{
    color: rgb(8, 8, 8);
    text-decoration: none;

    
}



.dados{
    text-align: center;
}
h1{
    margin-top: 50%;
}
img{
    margin: 10px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 780px){
   
   
.container{
   display: flex ;
   flex-direction: row;
   justify-content: center;
   
  
}
.sobre{
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 0px;
    width: 330px;
    height: 900px;
    border-right: black solid 0px;
    
    
}

}


